.custom-password .p-password-input {
    background-color: transparent !important; 
    color: white !important; 
    border-color: white !important; 
}

.custom-password .p-password-input::placeholder {
    color: white !important;
    opacity: 1; 
}

.p-dialog .p-dialog-header, .p-dialog .p-dialog-content {
    @apply bg-blackCustom;
}